* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}
body {
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}
/* top navbar */
.top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5vw;
    background-color: #5350FF;
}
.top-navbar .num-email a {
    font-size: .8vw;
    text-decoration: none;
    margin: 0 .5vw;
    color: #fff;
}
.top-navbar .currency-lang {
    display: flex;
    justify-content: space-between;
}
.top-navbar .currency-lang .dropdown {
    float: left;
    overflow: hidden;
    padding: 0 1vw;
}
.top-navbar .currency-lang .dropdown .dropbtn {
    font-size: .8vw;
    border: none;
    outline: none;
    color: rgb(212, 212, 212);
    padding: .2vw .3vw;
    background-color: inherit;
    font-family: inherit;
    margin: 0 .5vw;
  }
.top-navbar .currency-lang .dropdown:hover .dropbtn {
    color: rgb(255, 255, 255);
    transition: .3s;
  }
.top-navbar .currency-lang .dropdown-content {
    display: none;
    position: absolute;
    margin:0 .5vw;
    background-color: #f9f9f9;
    min-width: 4.5vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.top-navbar .currency-lang .dropdown-content.c {
    display: none;
    position: absolute;
    margin: 0 .5vw;
    background-color: #f9f9f9;
    min-width: 6vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.top-navbar .currency-lang .dropdown-content a {
    float: none;
    font-size: .8vw;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
.top-navbar .currency-lang .dropdown-content a:hover {
  background-color: #ddd;
  }
.top-navbar .currency-lang .dropdown:hover .dropdown-content {
  display: block;
  }
/* Bottom navbar */
#navbar {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 .1rem 1rem 0 rgba(0, 0, 0, 0.068);
}
.bottom-navbar .logo {
  font-size: 2vw;
}
.bottom-navbar .logo a {
  text-decoration: none;
}
.bottom-navbar .logo a img {
  width: 3.75rem;
}
.bottom-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: .8vw 1.5vw;
  box-shadow: 0 .1rem 1rem 0 rgba(0, 0, 0, 0.068);
}
.bottom-navbar .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.bottom-navbar .logo {
  font-size: 2vw;
}
.bottom-navbar .logo a {
  text-decoration: none;
  color: #5350FF;
}



.bottom-navbar .categories-dropdown{
  width: 18vw;
}

/* .bottom-navbar .categories-dropdown .dropdown {
    float: left;
    overflow: hidden;
  } */
  
.bottom-navbar .categories-dropdown .dropdown .dropbtn {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 1.5vw;  
  border: none;
  outline: none;
  background-color: rgb(243, 243, 243);
  color: #5350FF;
  padding: .8vw 1vw;
  font-family: inherit;
  margin: 0;
  border-radius: .2rem;
}

.bottom-navbar .categories-dropdown .dropdown .dropbtn span {
  margin: 0 1vw;
}
  
.bottom-navbar .categories-dropdown .navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #5350FF;
  color: #fff;
  border-radius: 0;
}
  
.bottom-navbar .categories-dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 18vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
  
.bottom-navbar .categories-dropdown .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
  
.bottom-navbar .categories-dropdown .dropdown-content a:hover {
  background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
  display: block;
}

.bottom-navbar .categories-dropdown .category-list{
  display: none;
}
.bottom-navbar .menu {
  font-size: 1.3vw;
}
.bottom-navbar .menu a {
  text-decoration: none;
  margin: 0 1vw;
  color: #5350FF;
}
.bottom-navbar .menu a i {
  font-size: 1vw;
}
.bottom-navbar .menu a:hover{
  border-bottom: .1vw solid #5350FF;
  color: #3835f7;
  transition: .3s;
}

.bottom-navbar .icon-menues{
  display: flex;
}
.bottom-navbar  .input-icon {
  display: flex;
  margin: 0 1vw;
  width: 24vw;
  height: 2.5vw;
  border: .1vw solid #5350FF ;
  border-radius: 3vw;
}
.bottom-navbar  .input-icon input{
  background: none;
  font-size: 1vw;
  border: none;
  padding: 0 1vw;
  width: 100%;
  height: 100%;
  outline: #5350FF;
}

.bottom-navbar  .input-icon .icon-search a{
  position: relative;
  left: 0.093vw;
  bottom: 0.093vw;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5vw;
  height: 2.5vw;
  border: .1vw solid #5350FF;
  border-radius: 50%;
  color: #5350FF;
}

.bottom-navbar  .input-icon .icon-search a:hover{
  background-color: #5350FF;
  color: #fff;
  transition: .3s;
}
.bottom-navbar  .input-icon .icon-search a i {
  font-size: 1.5vw;
}
.bottom-navbar .icon-menues a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 2.5vw;
  height: 2.5vw;
  border: .1vw solid #5350FF;
  border-radius: 50%;
  color: #5350FF;
}
.bottom-navbar .icon-menues a i{
  font-size: 1.5vw;
}
.bottom-navbar .icon-menues a:hover{
  background-color: #5350FF;
  transition: .3s;
  color: #fff;
}
.bottom-navbar .icon-menues a span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .6rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
}
.bottom-navbar .signin a {
  text-decoration: none;
  padding: .5vw 1.3vw;
  border: .1vw  solid #5350FF;
  color: #5350FF;
  border-radius: 1.5vw;
  font-size: 1.2vw;
  cursor: pointer;
}
.bottom-navbar .signin a:hover {
  background-color: #5350FF;
  color: #fff;
  transition: .3s;
}
/* Login Form */

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  color: #fff;
  border: none;
}
.lgn-btn {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.lgn-btn button {
  padding: .7rem 2.5rem;
  background-color: #fff;
  border: 1px solid #514EFB;
  cursor: pointer;
  font-size: 1rem;
  color: #514EFB;
}
.lgn-btn button:hover {
  background-color: #514EFB;
  color: #fff;
  transition: .3s;
}
/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
.imgcontainer h1 {
  color: #514EFB;
}


.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 50%; 
}

.modal-content label {
  color: #514EFB;
}
/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #514EFB;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

/* section product */
section {
  padding: 3rem;
}

.container-product {
  display: grid;
  justify-content: space-evenly;
  grid-gap: .8rem;
}

.row {
  display: grid;
  align-content: space-between;
}

.column {
    padding: 10px;
    width: 7rem;
   box-shadow: 0 0 2px 0;
  }
  

  .column img {
    opacity: 0.8; 
    cursor: pointer; 
  }
  
  .column img:hover {
    opacity: 1;
  }
  

  
  /* The expanding image container */
  .container-img {
    grid-column: 2;
    grid-row: 1 / span 1;
    width: 43rem;
    position: relative;
    box-shadow: 0 0 5px 0;
  }
  

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: 3;
  grid-row: 1 / span 1;
}
.text h1 {
  text-align: center;
  font-weight: 600;
}
.text .ratings {
  padding: 0 1rem;
}
.text .ratings i {
  margin: .1rem;
  font-size: 1.2rem;
  color: yellow;
}
.text .price {
  margin-left: 1rem;
  padding: 0 0rem 1rem;
  font-size: 2rem;
  color: #1FC779;
  border-bottom: 3px solid #514EFB;
}
.text .description {
  padding: .5rem 1rem;
  font-size: 1.3rem;
}
.text .colors {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
}
.text .colors span {
  font-size: 1.5rem;
  color: rgb(133, 133, 133);
}
.text .colors .black {
  margin-left: .8rem;
  margin-right: .8rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #000;
  cursor: pointer;
}
.text .colors .red {
  margin-right: .8rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgb(236, 0, 0);
  cursor: pointer;
}
.text .colors .grey {
  margin-right: .8rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgb(133, 133, 133);
  cursor: pointer;
}
.colors input {
  width: 2.5rem;
  height: 2rem;
  font-size: 1.5rem;
  text-align: center;
}
.text .add-like {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  margin-top: 1rem;
}
.text .add-like .add {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #514EFB;
  border: .1rem solid #514EFB;
  color: #fff;
  width: 12rem;
  height: 2.5rem;
  font-size: 1.3rem;
  cursor: pointer;
}

.text .add-like span {
  margin: 0 1rem;
}
.text .add-like .like {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: .1rem solid #514EFB;
  width: 12rem;
  height: 2.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}
.text .add-like .like i {
  font-size: 1.6rem;
  color: red;
}
